.bg-img-gt1 {
    background-image: url('../../assets/img/gioiThieu1.jpg');
    background-size: cover;
}

.bg-img-ky-nang {
    background-image: url('../../assets/img/kyNang.png');
    background-size: cover;
}
.bg-img-kinh-nghiem {
    background-image: url('../../assets/img/kinhNghiem.png');
    background-size: cover;
}
.bg-img-lien-he {
    background-image: url('../../assets/img/lienHeGT.png');
    background-size: cover;
}

// bd
