.tp-bg-img {
    background-image: url('../../assets/img/bg-1.jpg');

    background-repeat: no-repeat;
}

.tp-bg-ung-dung {
    background-image: url('../../assets/img/bg-ungdung.png');
    background-size: cover;
}
.tp-bg-footer {
    background-image: url('../../assets/img/musicFooter.jpg');
    background-repeat: no-repeat;
}

.tp-bg-nhac {
    background-color: var(--cl-9);
}
.tp-bg-file {
    background-color: var(--cl-2);
}

// search
